@use "pico" with (
    $breakpoints: (
        lg: (viewport: 800px),
        xl: (viewport: 900px),
        xxl: (viewport: 1000px)),
);

:root {
    --pico-font-family: "Vollkorn", serif;
    --pico-font-family-monospace: "Courier Prime", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    --pico-font-family: "Vollkorn SC", serif;
    --pico-font-weight: 400;
}

ul li {
    list-style: disc;
}
